<div class="padding">

  <super-navbar>
    <super-navbar-title>
      CampusNoms
    </super-navbar-title>
  </super-navbar>

  <img src="/images/freefood.jpg" alt="freefood" style="width:320px;height:300px;"></img>

  <p><strong>Welcome to CampusNoms</strong></p>

<p>Check out the Free Food Tab below to find the free foods available 
from various events<p>

  <super-navigate view-id="FreeFood">
    <button class="button button-block button-positive icon-left super-wand">Free Food</button>
  </super-navigate>

  <super-navigate view-id="AddEvent">
    <button class="button button-block button-positive icon-left super-university">Add Event</button>
  </super-navigate>

  <P>Students feel free to provide any information of free foods
available at campus to <a href="mailto:ampusnoms@gmail.com">campusnoms@gmail.com</a></p>

</div>
