<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      CampusNoms
    </super-navbar-title>
    <super-navbar-button side="right" location="event#new" style="font-weight:bold;font-size:5em;">
    Add
    </super-navbar-button>
      <super-navbar-button side="left" location="maps#index">
      MapView
      </super-navbar-button>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="events.length == 0">

      <super-navigate location="event#show" data-params-id="{{ event.id }}" ng-repeat="event in events | orderBy : ['Date', 'Time'] ">
         <div class="card">
             <div class="item item-text-wrap">
                 <h2 style="font-weight:bold;font-size:1.1em;" ng-bind="event['Food']"></h2>                
                 <h2 ng-bind="event['Date'] | date: 'MMMM dd, yyyy' "></h2>
                 <h2 ng-bind="event['Time'] | date: 'shortTime' "></h2>
             </div>
             </div>
      </super-navigate>

    </ul>

    <h4 ng-show="events.length == 0" class="assertive padding">
      No events found. Create one?
    </h4>

   <!-- <super-modal-show location="event#new">
      <button class="button button-full button-positive">
        Create a new event
      </button>
    </super-modal-show> -->
  </div>
</div>
