<div ng-controller="NewController">
  <super-navbar>
    
    <super-navbar-title>
      New Event
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <form ng-submit="submitForm()">
        <div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Food</span>
    <input type="text" ng-model="event['Food']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Who</span>
    <input type="text" ng-model="event['Who']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Start Time</span>
    <input type="time" ng-model="event['StartTime']">
  </label>
            
  <label class="item item-input item-stacked-label">
    <span class="input-label">End Time</span>
    <input type="time" ng-model="event['EndTime']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Date</span>
    <input type="date" ng-model="event['Date']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Location</span></br>
    <input type="text" ng-model="event['Location']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Organization</span>
    <input type="text" ng-model="event['Organization']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Website</span>
    <input type="text" ng-model="event['Website']">
  </label>

  <br>
 <super-navigate location="event#index">
  <button class="button button-block button-positive" >Save</button>
            </super-navigate>
</div>
      
      </form>
  </div>
</div>
