<div ng-controller="NewController">
  <super-navbar>
    
    <super-navbar-title>
      New Event
    </super-navbar-title>
  </super-navbar>

<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    var availableTags = [
      "Tech",
      "Norris",
      "Ford",
      "Plex",
      "Elder",
      "Allison",
      "Annenberg",
      "Annie May Swift",
      "Deering Library",
      "Deering Meadow",  
      "Fisk", 
      "Frances Searle", 
      "Harris Hall", 
      "Locy Hall", 
      "Lunt",
      "Pick-Staiger",
      "Sargent", 
      "Silverman",
      "The Rock", 
      "University Library", 
      "University Hall"
    ];

    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
  </script>
</head>

   <div class="padding">
    <form ng-submit="checkForm()">
        <div class="list">
  
  <label class="item item-input">
    <span id="food-label" class="input-label">Food</span>
    <input id="food" type="text" ng-model="event['Food']">
  </label>
  
  <label class="item item-input">
    <span class="input-label">Who</span>
    <input type="text" ng-model="event['Who']"> 
  </label>
  
  <label class="item item-input">
    <span class="input-label">Start Time</span>
    <input id="startTime" type="time" ng-model="event['StartTime']">
  </label>
            
  <label class="item item-input">
    <span class="input-label">End Time</span>
    <input type="time" ng-model="event['EndTime']">
  </label>
  
  <label class="item item-input">
    <span class="input-label">Date</span>
    <input type="date" ng-model="event['Date']">
  </label>  
  
  <label class="item item-input">
    <span class="input-label">Location</span>
    <input type="text" id="tags">
  </label>
            
 <label class="item item-input">
    <span class="input-label">Room</span>
    <input type="text" ng-model="event['Room']">
  </label>
  
  <label class="item item-input">
    <span class="input-label">Organization</span>
    <input type="text" ng-model="event['Organization']">
  </label>
  
  <label class="item item-input">
    <span class="input-label">Website</span>
    <input type="text" ng-model="event['Website']">
  </label>
  
   <label class="item item-input">
    <span class="input-label">Event Description</span>
    <input type="text" ng-model="event['Description']">
  </label>

  <br>
        </div>
  <button id="purplebutton" class="button button-block button-dark" >Save</button>
      
      </form>
  </div>
</div>
