<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="event['Time']"></h2>
      
      
      
       <p>Location: <span ng-bind="event['Location']"></span></p> 
      
       <p>Who: <span ng-bind="event['Who']"></span></p> 
      
       <p>Food: <span ng-bind="event['Food']"></span></p> 
      
       <p>Organization: <span ng-bind="event['Organization']"></span></p> 
      


      <super-modal-show location="event#edit?id={{ event.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(event.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
